build --cxxopt='/std:c++latest'
build --cxxopt='/Zc:__cplusplus'
build --copt=/wd4312 # gRPC warnings about pointer size
build --copt=/wd4244 # gRPC warnings about pointer size
build --copt=/wd4141 # Protobuf warnings about repeated 'inline'

common --nolegacy_external_runfiles
common --experimental_sibling_repository_layout

build:debug --copt=/RTC1 # Runtime memory error checks
#build:debug --copt=/D_DEBUG # Define debug preprocessor
#build:debug --copt=/MDd # Debug static lib

build:release --compilation_mode=opt
build:release --copt=/Z7 # Generate complete debugging information
build:release --copt=/O2 # Optimization: Maximize Speed (Release mode)
build:release --copt=/FS # Enable file-level locking for PDB files
build:release --copt=/MP # Enable parallel compilation
build:release --linkopt=/DEBUG # Generate debug info
